*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
}


.main-wrapper{
  width: 100%;
  height: 100vh;
}

.main-wrapper .logo img{
  max-width: 300px;
}

.inner-wrapper{
  width: 80%;
  margin: auto;
  padding: 60px 0px;
}


.custom_container input{
   width: 90%;
   height: 40px;
   margin-top: 20px;
   padding-left: 15px;
}

.custom_container input:focus{
 
  outline: none !important;
}

.custom_container form{
  display: flex;

}

.custom_container button {
  width: 50px;
  height: 40px;
  color: #fff;
  background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  border:none;
  cursor: pointer;
}

.messages{
  text-align: center;
  color:#fff;
  margin: auto;
  margin-top: 50px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.tranding-item-box button{
  padding: 10px 30px;
  border-radius: 5px;
  border:none;
  margin-top: 30px;
  cursor: pointer;
  color:#fff;
  background: linear-gradient(45deg, rgb(153, 51, 255) 0%, rgb(255, 102, 102) 100%);
} 
.tranding-container h4{
  color:#fff;
}

.tranding-container{
  margin-top: 40px;
}

.tranding-item-box ul li{
  width: 200px;
  height: 150px;
  background: #fff;
  margin: 5px;
  overflow: hidden;
}

.tranding-item-box ul li img{
  object-fit: contain;
}

.tranding-item-box{
  margin-top: 20px;
}

.tranding-item-box ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.custome_loader{
  color:#fff;
  font-size: 30px;
  margin: auto;
  animation: loader ;
}


.loader {
  position: relative;
  height: 50px;
  width: 50%;
  left: 45.5%
}
.loader .bullet {
  position: absolute;
  padding: 5px;
  background: green;
  animation: animIn 1s ease-in-out 0s infinite;
}
.loader .bullet:nth-child(1) {
  animation-delay: 0.0s;
}
.loader .bullet:nth-child(2) {
  animation-delay: 0.15s;
}
.loader .bullet:nth-child(3) {
  animation-delay: 0.3s;
}
.loader .bullet:nth-child(4) {
  animation-delay: 0.45s;
  background: red;
}
@keyframes animIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}